.input-container {
  margin: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
input,
textarea,
button {
  padding: 20px 5px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #00bcd4;
  width: 400px;
  background-color: transparent;
  color: #ebdbb2;
}
button:hover {
  cursor: pointer;
  background-color: #00bcd4;
  color: #1d2021;
}
